header {
  background: url(/assets/img/bg-slider-06.jpg) center / cover;
  height: 100vh;
  color: $color1;
  text-align: center;
  display: flex;
  flex-direction: column;

  nav {
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      padding-top: 40px;

    }

    li:hover  {
      color: $color2;
    }

    .nav-logo h3  {
      font-family: $font1;
      color: $color1;
      font-weight: bold;
      font-size: 3rem;
      transition: 0.3s;

      &:hover {
        color: $color2;
      }
    }

    .nav-links {
      width: 70%;

      @media screen and (max-width: 910px) {
        display: none;
      }
      
      ul {
        font-family: $font3;
        font-size: 0.8rem;
        @include title();
        display: flex;
        justify-content: space-between;
        width: 100%;
      }    
      
      li {
        position: relative;
        transition: 0.2s;
        
        &:hover:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 1.2px;
          left: 0;
          bottom: 0;
          background: $color2;
          transition: 0.2s;
      }
     }
    }

    .nav-socials ul {
      display: flex;

      li {
        padding: 10px;
        transition: 0.2s ease;

        &:hover {
          scale: (1.3);
        }
      }
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    h3 {
      color: $color2;
      text-transform: none;
      font-size: 3.5rem;
      font-weight: 500;

      @media screen and (max-width: 900px) {
        font-size: 3rem;
      }

    }

    h1, p {
      text-transform: uppercase;
      font-family: $font2;
    }

    h1 {
      font-size: 4.5rem;
      margin: -40px 0;
      letter-spacing: 10px;


      @media screen and (max-width: 800px) {
        font-size: 3.5rem;
        margin: -25px 0;
      }

      }
    }

   p {
    letter-spacing: 4px;
    font-size: 1rem;
   }

  img {
  margin: 50px auto 40px;
  }
 }
