.section1 {
  display: grid;
  grid-template-columns: repeat(2,50% 50%);
  text-align: center;

  @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
  }

  .section1-left {
    background: $color1;
    padding: 20px;

    div:first-child {
      border: dashed 1px $color2;
      padding: 50px;
    }

   h3 {
    margin: -20px 0;
    padding-top: 40px;
   }

   img {
    margin: 20px auto 20px;
    }

    .text {
      font-family: $font3;
      font-size: 1.2rem;
      color: $color5;
    }

    .avatar {
      height: 80px;
      border-radius: 50px;
      margin: 20px 0 10px ;
    }

    p:last-child {
      font-family: $font2;
      font-size: 0.9rem;
      text-transform: uppercase;
      color: $color4;
    }
  }

  .section1-right {
    background: url(/assets/img/store-01.jpg) center/cover;
  }
}